<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="TRACE"  onMatch="NEUTRAL"   onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} | %-5level | %c{1} | %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
<!--        <Logger name="org.utbot.instrumentation.rd" level="trace"/>-->
<!--        <Logger name="org.utbot.instrumentation.util" level="trace"/>-->
<!--        <Logger name="org.utbot.instrumentation.process" level="trace"/>-->
    </Loggers>
</Configuration>