<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
<!--     Idea catches plugin stdout log and wraps it in its own format, so in IDE only message is logged-->
        <Console name="IdeaAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
<!--        When working as separate process - temporary log4j2.xml would be created, in which -->
<!--        substring "ref=\"IdeaAppender\"" will be replaced with "ref=\"EngineProcessAppender\""-->
        <Console name="EngineProcessAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} | %-5level | %-25c{1} | %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.utbot.intellij" level="info" additivity="false">
            <AppenderRef ref="IdeaAppender"/>
        </Logger>
        <Logger name="org.utbot.IntelliJApiHelper" level="info" additivity="false">
            <AppenderRef ref="IdeaAppender"/>
        </Logger>
        <Logger name="org.utbot" level="debug" additivity="false">
            <AppenderRef ref="IdeaAppender"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="IdeaAppender"/>
        </Root>
    </Loggers>
</Configuration>