<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="FrameworkAppender"
                      append="false"
                     fileName="logs/framework.log"
                     filePattern="logs/framework-%d{MM-dd-yyyy}.log.gz"
                     ignoreExceptions="false">

            <PatternLayout pattern=" | %-5level | %c{1} | %msg%n"/>
        </File>

        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG"  onMatch="NEUTRAL"   onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} | %-5level | %c{1} | %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--        Uncomment this logger to see path -->
        <Logger name="org.utbot.engine.UtBotSymbolicEngine.path" level="debug"/>


        <!-- Set this logger level to TRACE to see SMT requests, and SAT/UNSAT/UNKNOWN responses -->
        <Logger name="org.utbot.engine.pc" level="debug"/>

        <!-- Not interested in summarization logs now -->
        <Logger name="org.utbot.summary" level="info"/>

        <Logger name="soot.PackManager" level="INFO"/>

        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FrameworkAppender"/>
        </Root>
    </Loggers>
</Configuration>