name: "UTBot Java: build and run tests"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  commits_behind_the_main:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-20.02
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    - name: "Add commits number ahead of the main to env"
      run: |
        set -o xtrace
        echo COMMITS_AHEAD_MAIN=$(git rev-list --left-only --count ${GITHUB_REF_NAME}...origin/main) >> $GITHUB_ENV
        
    - name: "Output information"
      run: |
        set -o xtrace
        echo "The ${GITHUB_REF_NAME} is ahead of the [origin/main] by ${{ env.COMMITS_AHEAD_MAIN }} commits"
        
    - name: "Fails if the current branch is ahead of the [origin/main] by more than 5 commits"
      if: ${{ env.COMMITS_AHEAD_MAIN > 5 }}
      run: |
        set -o xtrace
        exit 1

  build_and_run_tests:
    needs: commits_behind_the_main
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
          
    - uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'zulu'
        java-package: jdk+fx
    - uses: gradle/gradle-build-action@v2
      with:
        gradle-version: 6.8
        
    - name: Build and run tests in UTBot Java
      run: |
        export KOTLIN_HOME="/usr"
        gradle clean build --no-daemon
        
    - name: Upload utbot-framework logs
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: utbot_framework_logs
        path: utbot-framework/logs/*
      
    - name: Upload utbot-framework tests report artifacts if tests have failed
      if: ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: utbot_framework_tests_report
        path: utbot-framework/build/reports/tests/test/*
        
    - name: Upload utbot-intellij tests report artifacts if tests have failed
      if: ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: utbot_intellij_tests_report
        path: utbot-intellij/build/reports/tests/test/*
