name: "[M] Publish on GitHub Packages"

on:
  workflow_dispatch:
    inputs:
      commit_sha:
        type: string
        required: true
        description: "commit SHA: e.g. cab4799c"

jobs:
  build-and-run-tests:
    if: ${{ github.actor == 'korifey' || github.actor == 'denis-fokin' || github.actor == 'victoriafomina' || github.actor == 'bissquit' }}
    uses: ./.github/workflows/build-and-run-tests-from-branch.yml
    with:
      commit_sha: ${{ github.event.inputs.commit_sha }}
    secrets: inherit

  publish_on_github_packages:
    needs: build-and-run-tests
    runs-on: ubuntu-20.04
    steps:
    - name: Print environment variables
      run: printenv

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Check out ${{ github.event.inputs.commit_sha }} commit
      if: github.event.inputs.commit_sha != ''
      run: |
        git config --global --add safe.directory ${GITHUB_WORKSPACE}
        git fetch
        git checkout ${{ github.event.inputs.commit_sha }}

    - uses: gradle/gradle-build-action@v2
      with:
        gradle-version: 7.4.2
        arguments: publish
      env:
        GITHUB_ACTOR: ${{ github.actor }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
